<footer class="page-footer bg-dark py-3 " style="height: 50px;">
    <div class="container">
        <span class="text-muted d-block text-center">&copy;2021 &nbsp;	&nbsp;Nitish Bhardwaj</span>
    </div>
</footer>