<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">RecipeAdda</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="navbar-nav">
				<a class="nav-link " aria-current="page" href="/recipes">Recipes</a>
				<a class="nav-link" href="/recipes/new">Add new Recipe</a>

			</div>
			<div class="navbar-nav ml-auto">
				<% if(!currentUser) {%>
					<li class="nav-item ">
						<a class="nav-link" href="/login">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/register">Register</a>
					</li>
					<% } else { %>

						<li class="nav-item">
							<a class="nav-link" href="/logout">Logout</a>
						</li>
						<% } %>
			</div>
		</div>
	</div>
</nav>