<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeAdda</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0 mt-2">RecipeAdda</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right mt-2">
                    <a class="nav-link" href="/recipes">All Recipes </a>
                    <a class="nav-link" href="/recipes/new">Add New Recipe </a>
                    <% if(!currentUser) { %>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/register">Register</a>
                        <% } else { %>
                            <a class="nav-link" href="/logout">Logout</a>
                            <% } %>
                </nav>
            </div>
        </header>
        <main class="p-3">
            <p class="lead"> Welcome to RecipeAdda! <br> Jump right in many new recipes are waiting for you! <br> Feel free to share some of your own recipes and review  other's recipes!</p>
            <a href="/recipes" class="btn   font-weight-bold border-white text-white">View
                Recipes</a>
        </main>

        <footer class="pt-3 mt-auto text-white-50">
            <p>&copy; 2021 </p>
            <p>by Nitish Bhardwaj</p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>

</html>