<% layout('layouts/boilerplate') %> 
    <div class="row">
        <div class="col-8 col-xs-8 col-sm-6 col-md-6 col-lg-4 m-auto d-flex flex-column align-items-center mt-3">

                <div class="text-muted my-2">
                    <h1>Recipe Adda !!!</h1>
                </div>
                <form class=" p-2 pt-0 validated-form" action="/register" method="POST" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control " type="text" name="username" id="username" maxlength="40" autofocus required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control " type="email" name="email" id="email"  required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control " type="password" name="password" id="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="mb-4 btn btn-warning d-block w-100" type="submit">register</button>

                    <a href="/login/google" class="btn btn-danger btn-block w-100 mb-4" role="button">Google</a>
                    <a href="/login/facebook" class="btn btn-primary btn-block w-100 mb-4" role="button">Facebook</a>
  
                </form>
        </div>
    </div>